.grid-container { max-width:960px; }
.grid-container ul{ 
	margin:10px 0;
}
.grid-container ul li{ 
	padding:10px; 
	cursor:pointer; 
	position:relative;
}
.grid-container ul li:hover{
	background:#eee;
}
.grid-container ul li div{ position:absolute; bottom:10px; left:0; }
.grid-container ul li div h2{ display:none; }
.grid-container ul li.selected{ background:#ccc; cursor:default;  }
.grid-container ul li.selected div h2, .grid-container ul li:hover div h2{ display:block; }
.grid-container ul li div h1, .grid-container ul li div h2{ font-family:Georgia, "Times New Roman", Times, serif; color:#fff; font-size:1.75em; background-color:rgba(0,0,0,0.8); padding:10px; line-height:1.4em; word-wrap: break-word; }
.grid-container ul li div h2{font-size:1.2em; padding-top:0; }